

<div class="contact-details text-center mt-6">
    <p><strong>Phone:</strong> (123) 456-7890</p>
    <p><strong>Email:</strong> support@yourstore.com</p>
    <p><strong>Address:</strong> 123 bantergu St, addi ababa </p>
</div>
