
{% if section.settings ['show-announcement']%}

<section>
    <div class="announcement-bar">
        <div class="announcement-bar-left-section">
            {% if section.settings %}
        </div>
        <div class="announcement-bar-right-section">

        </div>
    </div>
</section>

{% schema %}
    {
        "name" : "Announcement Bar",
        "settings" : [
            {
                "type": "checkbox",
                "id": "show-announcement",
                "label": "Show Announcement",
                "default" : true
            }
        ],
        "presets" : []
}

{% endschema %}