<section class="more-info">
    <div class="more-info-wrapper">
      {%- if section.settings.text != blank -%}
        <h1> ROOTED IN GOLD STARTER PACK</h1>
      {%- else -%}
        <h1>{{ block.settings.text | escape }}</h1>
      {%- endif -%}
  
      {%- if section.settings.text2 != blank -%}
        <p>
            Honor your roots and embrace your future with a handpicked collection of traditional craftsmanship and modern glow — made to inspire your every step.
        </p>
      {%- else -%}
        <p>
          {{ block.settings.text2 | escape }}
        </p>
      {%- endif -%}
  
      <button>Shop</button>
    </div>
  </section>
  
  <style>
    .more-info {
      background: {{ section.settings.background }}
      ;
      color: {{ section.settings.text_color }}
      ;
      display: flex;
      justify-content: center;
      padding: 40px 20px;
    }
  
      .more-info-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
  
      .more-info-wrapper h1 {
        font-size: 50px;
        margin-bottom: 15px;
      }
      
      .more-info-wrapper p {
        margin-bottom: 25px;
      }
  
      .more-info-wrapper button {
        padding: 10px 20px 10px 20px;
        background-color: black;
        border: none;
        color: white;
        border-radius: 20px;
        cursor: pointer;
      }
  
      .more-info-wrapper button:hover {
        background-color: rgb(185, 185, 185);
      }
      
      @media screen and (max-width: 768px) {
        .more-info-wrapper h1 {
          font-size: 36px;
        }
      }
      
      @media screen and (max-width: 480px) {
        .more-info {
          padding: 30px 15px;
        }
        
        .more-info-wrapper h1 {
          font-size: 28px;
        }
        
        .more-info-wrapper p {
          font-size: 16px;
        }
      }
  </style>
  {% schema %}
  {
    "name": "More-info",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#F4F4F4"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "default text"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Text2",
        "default": "default text"
      }
    ],
    "blocks": [
        
    ],
    "presets": [
      {
        "name": "more-info"
      }
    ]
  }
  {% endschema %}